{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "babel-plugin-transform-class-properties",
        "@babel/plugin-transform-flow-strip-types",
        ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
        "@babel/plugin-transform-exponentiation-operator"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "babel-plugin-transform-class-properties",
        "@babel/plugin-transform-flow-strip-types",
        ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
        "@babel/plugin-transform-exponentiation-operator"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "babel-plugin-transform-class-properties",
        "@babel/plugin-transform-flow-strip-types",
        ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
        "@babel/plugin-transform-exponentiation-operator"
      ],
      "minified": true,
      "comments": false
    }
  }
}
