{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-es2015-spread",
    "transform-decorators",
    "syntax-trailing-function-commas",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-exponentiation-operator"
  ]
}
